.titulo hr {
  width: 30%;
  height: 5px;
  margin: 0 auto;
}

.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.user img {
  width: 100%;
}
.redes a {
  text-decoration: none;
  color: #fff;
}

#productosD .producto {
  position: relative;
  width: 30%;
  height: 300px;
  display: flex;
  align-items: flex-end;
  margin: 15px 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#productosD .producto p {
  position: absolute;
  bottom: -100px;
  padding: 25px;
  background: rgba(31, 64, 255, 0.562);
  color: #fff;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

#productosD .producto:hover p {
  bottom: -15px;
}
